# Airflow Config
AIRFLOW_UID=50000
FERNET_KEY=your-fernet-key-here

# Meltano 
TAP_DIGISUS_RATE_LIMIT_PER_MINUTE=10
TAP_DIGISUS_RETRY_MODE=false
TARGET_JSONL_DESTINATION_PATH=output/

# Databricks Credentials
DATABRICKS_HOST=dbc-xxxxx.cloud.databricks.com
DATABRICKS_TOKEN=sua-token-aqui
DBT_DATABRICKS_TOKEN=sua-tokens-especifico-para-dbt
DATABRICKS_CATALOG=municipio_inteligente
DATABRICKS_SCHEMA=raw
DATABRICKS_VOLUME_RAW=raw
